*{
  margin:0;
  padding:0;
}
/* html,body{
  width:100%;
  height:100%;
} */
.main_box{
  margin:1rem;
  height:calc(100vh - 2rem);
}
.main_left{
  width:92%;
  /* background:blue; */
  display:inline-block;
  height:calc(100vh - 2rem);
  /* border:1px solid #afa; */
}
.main_right{
  width:8%;
  display:inline-block;
  height:calc(100vh - 2rem);
  vertical-align: top;
}
.main_left_head{
  width:100%;
  height:5rem;
  /* border:1px solid yellow; */
  font-size: 3rem;
  
}
.add_red{
  color:red;
  padding: 0 0.5rem;
}
.add_blue{
  color:blue;
  padding-left:0.5rem;
}
.main_left_text{
  text-align:center;
  width:85%;
  display:inline-block;
}
.main_left_time{
  width:15%;
  text-align:right;
  display:inline-block;
  color:red;
}
.main_left_contain_left{
    width:30%;
    height:calc(100vh - 10rem);
    display:inline-block;
    vertical-align:top;
    
}
.main_left_contain_right{
  width:69%;
  height:calc(100vh - 10rem);
  display:inline-block;
  margin-left:1%;
  
}
.tab_left{
  border:1px solid grey;
  height:calc(100vh - 10rem);
 
}
.reward_list{
  height:2rem;
  line-height:2rem;
  
}
.format_list{
  padding-right:5rem;
  height:3rem;
}
.stop_win{
  color:#0187fb;
}
.stop_lose{
  color:#0187fb;
  padding-left:1rem;
}
.all_get{
  color:#0187fb;
  padding: 1rem;
}
.get_change{
  padding-left:2rem;
}
.main_right_box{
  /* border:1px solid #afa; */
  margin-left:1rem;
  font-size:3rem;
}
.select_box{
  margin:0.5rem 0;
  margin-top:-2rem;
}
.all_mn{
  margin-top:-2rem;
}
/* .ant-btn{
  height:2rem !important;
  line-height: 2rem !important;
} */
